 <!-- About Section -->
    <section id="about">
        <div class="success">
        <div class="frosted-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Nest Away Stays is our boutique vacation home concept. We have a vision to build a brand that guests can trust, across cities and eventually countries. The name explains it all. We want guests to feel at home, no matter which property they stay at.</p>
                </div>
                <div class="col-lg-4">
                    <p>We believe guests notice when you provide a consistent, comfortable and memorable experience. When you stay with Nest Away Stays, you know that everything was carefully considered and tastefully designed.</p>
                </div>
            </div>
        </div>
    </div>
    </section>
