
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Homes</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="portfolio-flex-row">
                <!-- Get from Airbnb embed -->
                <div class="airbnb-embed-frame" data-id="48475623" data-view="home" style="width:450px;height:300px;margin:auto"><a href="https://www.airbnb.com/rooms/48475623?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget">View On Airbnb</a><a href="https://www.airbnb.com/rooms/48475623?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget" rel="nofollow">PNW Inspired 2BR w/ Fire Pit, Walk to Capitol Hill</a><script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div>
                
                <!-- Get from Airbnb embed -->
                <div class="airbnb-embed-frame" data-id="52496926" data-view="home" style="width:450px;height:300px;margin:auto"><a href="https://www.airbnb.com/rooms/52496926?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget">View On Airbnb</a><a href="https://www.airbnb.com/rooms/52496926?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget" rel="nofollow">Deco Style 3BR w/ Large Deck &amp; Yard, Walk to NuLu</a><script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div>
            </div>
        </div>
    </section>